.container {
  background-color: rgb(var(--c-239));
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: 120%;
  z-index: -44;
  position: absolute;
}

.newPinArea {
  max-width: 880px;
  background-color: rgb(var(--c-primary));
  margin-left: auto;
  margin-right: auto;
  padding: 40px 60px;
  display: flex;
  margin-top: 124px;
  border-radius: 16px;
  .leftSide {
    flex: 1;
    .imageUploadArea {
      width: 340px;
      height: 450px;
      background-color: rgb(var(--c-239));
      padding: 14px;
      border-radius: 8px;
      .mediaEmptyView {
        border: 2px dashed rgb(var(--c-m));
        width: 100%;
        height: 100%;
        border-radius: 12px;
        position: relative;
        .mediaEmtyViewInside {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: flex-end;
          span {
            margin-top: 28px;
            margin-bottom: 110px;
            svg {
              font-size: 32px;
              color: rgb(var(--c-118));
            }
            p {
              font-weight: 400;
              font-size: 16px;
              color: rgb(var(--c-111));
              padding-left: 48px;
              padding-right: 48px;
            }
          }
          p {
            margin-bottom: 22px;
            font-size: 14px;
            color: rgb(var(--c-111));
            font-weight: 400;
          }
        }
        input {
          cursor: pointer;
          height: 100%;
          opacity: 0;
          position: absolute;
          width: 100%;
          left: 0px;
          top: 0px;
          font-size: 0px;
        }
      }
    }
    .saveButton {
      margin-top: 11px;
      min-width: 340px;
      justify-content: center;
      background-color: rgb(var(--c-239));
      color: rgb(var(--c-secondary));

      &:hover {
        background-color: #e2e2e2;
      }
    }
  }
  .rightSide {
    flex: 1;

    .pinTitle {
      width: 100%;
      height: auto;
      box-shadow: rgba(142, 142, 142, 0.5) 0px 1px 0px 0px;
      padding-bottom: 7px;
      .pinTitleInput {
        height: 100%;
        cursor: text;
        font-size: 36px;
        resize: none;
        font-weight: 700;
        caret-color: #333;
        width: 100%;
        border: none;
        background-color: transparent;
        -webkit-font-smoothing: antialiased;
        outline: none;
        white-space: pre-wrap;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
          Oxygen-Sans, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
          Helvetica, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ,
          Meiryo, ＭＳ Ｐゴシック, Arial, sans-serif, Apple Color Emoji,
          Segoe UI Emoji, Segoe UI Symbol;

        &:focus {
          .pinTitle {
            box-shadow: #0074e8 0px 2px 0px 0px;
          }
        }
      }
    }
    .profile {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      img {
        margin-right: 5px;
      }
      span {
        text-aling: center;
        font-size: 14px;
        font-weight: 700;
        color: #111;
      }
    }
    .pinTitleInputCounter {
      font-size: 12px;
      color: rgb(var(--c-118));
    }

    .pinDesc {
      width: 100%;
      height: auto;
      box-shadow: rgba(142, 142, 142, 0.5) 0px 1px 0px 0px;
      padding-bottom: 7px;

      .pinDescInput {
        height: 100%;
        cursor: text;
        font-size: 16px;
        resize: none;
        caret-color: #333;
        width: 100%;
        border: none;
        background-color: transparent;
        -webkit-font-smoothing: antialiased;
        outline: none;
        white-space: pre-wrap;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
          Oxygen-Sans, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
          Helvetica, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ,
          Meiryo, ＭＳ Ｐゴシック, Arial, sans-serif, Apple Color Emoji,
          Segoe UI Emoji, Segoe UI Symbol;
      }
    }
  }
}
