.btn {
  color: rgb(var(--c-secondary));
  border: none;
  outline: none;
  background: transparent;
  display: flex;
  align-items: center;
  border-radius: 99px;
  height: 100%;
  cursor: pointer;
  transition: var(--effect-fade);
}
