.header {
  height: 80px;
  background: rgb(var(--c-primary));
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

  .navigationContainer,
  .profileButtonsContainer {
    display: flex;
    align-items: center;
  }

  .profileButtonsContainer {
    button {
      color: rgb(var(--c-118));
    }
    .miniButton {
      width: 24px;
      height: 24px;
    }
  }
}
