.pin {
  cursor: zoom-in;
  min-height: 120px;
  border-radius: 18px;
  max-height: 420px;
  height: 100%;
  position: relative;
  img {
    max-width: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 18px;
    position: absolute;
  }
}
