.searchBar {
  background-color: #efefef;
  height: 48px;
  width: 100%;
  border-radius: 99px;
  padding-left: 16px;
  padding-right: 16px;
  color: rgb(var(--c-g-118));
  display: flex;
  align-items: center;
  input[type='text'] {
    margin-left: 8px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(var(--c-b));
    font-size: 1rem;
    font-weight: 400;
  }

  svg {
  }
}
