//font-size

:root {
  //primary colors
  --c-primary: 255, 255, 255;
  --c-secondary: 17, 17, 17;
  --c-outline: 0, 132, 255;
  //gray scala
  --c-n: 240, 240, 240;
  --c-m: 225, 225, 225;
  --c-c: 170, 170, 170;
  --c-d: 118, 118, 118;
  --c-b: 51, 51, 51;
  --c-118: 118, 118, 118;
  --c-239: 239, 239, 239;
  --c-111: 111, 111, 111;
  --c-239: 239, 239, 239;
  //pinterest red
  --c-p: 230, 0, 35;
  --c-p-d: 173, 8, 27;

  //animation
  --effect-fade: 200ms;
}
